/* Default settings */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


figure > img {
    display: block;
}

.display-none {
    display: none;
}
/* *[class^='col-'] {
    padding: 20px;
} */

/* palette colori */

:root {
    --dark:#000000;
    --gray:#282828;
    --dark-blue:#141922;
    --light:#ffff;
    --lightgreen: greenyellow;

    --time-bar:25%;
}

/* layouts */
.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/* 
.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
} */

/* APP */
.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* APP CONTENT */
.app-content {
    flex-grow: 1;
    overflow: hidden;
    background-color: var(--dark-blue);
    display: flex;
}

/* APP MENU */
.app-menu {
    min-width: 50px;
    background-color: #000000;
}

.app-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 10px 0px;
}

.app-figure-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
}


.logo {
    width: 28px;
    margin-bottom: 10px;
}

.text-img  {
    color: white;
    color: white;
    opacity: 0.7;
}


.app-menu-img {
    width: 26px;
    aspect-ratio: 1;
}

.library {
    margin-bottom: 10px;
}
.download {
    width: 18px;
    margin-bottom: 2px;
}


.margin-left-text {
    margin-left: 15px;
    font-size: 12px;
}

.border-line::after {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background-color: grey;
    margin-bottom: 15px;
    margin-left: 2px;
} 

.profile {
    background-color: grey ;
    border-radius: 20px;
    aspect-ratio: 1;
    overflow: hidden;
    width: 25px;
}

.profile img {
    aspect-ratio: 1;
    display: block;
    object-fit: cover;
    font-size: 28px;
}
/* PLAYLIST */
.title-section {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
}


.added-playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.plus-playlist {
    background-color: gray;
    color: #000000;
    font-size: 20px;
    padding: 5px 5px;
    aspect-ratio: 1;
    margin-right: 10px;
}

.new-playlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 13px;
}

.added-text {
    font-size: 15px;
}

.grey {
    color: white;
    opacity: 0.7;
}


/* APP TOOLBAR */
.app-toolbar {
    flex-shrink: 0;
    background-color: var(--gray);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TOOLBAR-MENU */
.toolbar-menu {
    padding: 0px 5px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 160px;
}

.toolbar-img {
    width: 30px;
}

.menu-title {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.menu-opa {
    opacity: 0.7;
    font-size: 12px;
}

/* TOOLBAR PLAYER */
.toolbar-player {
    width: 50%;
    padding: 10px 10px;
}

.player-items {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.play-item {
   font-size: 25px;
   font-weight: 900;
   margin: 0px 10px;
}

/* PLAYER BAR */
.player-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    gap: 10px;  
}

.timer {
    color: white;
    font-size: 12px;
}

.time-bar {
    position: relative; 
    flex-grow: 1;
}

.time-bar-white {
    background-color: white;
    height: 4px;
    width: var(--time-bar);
    position: absolute;
}

.time-bar-gray {
    background-color: grey;
    height: 4px;
}

.time-hand {
    width: 14px;
    height: 14px;
    border-radius: 22px;
    background-color: white;
    position: absolute;
    left: var(--time-bar);
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.time-bar:hover .time-hand {
    display: block;
}

.time-bar:hover .time-bar-white {
    background-color: var(--lightgreen) ;
}

/* TOOLBAR SOUND  */
.toolbar-sound {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 160px;
    padding: 0px 5px;
}






/* APP BODY */
.app-body {
    border: 2px solid yellow;
    flex-grow: 1;
    overflow: auto;
}

/* upgrade */
.upgrade-bar {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 10px 25px 0px;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
}

.upgrade-button {
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    padding: 0px 35px;
    line-height: 40px;
}

/* ranking */

.ranking-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 15px 0px 15px 0px;
}

.ranking-item {
    color: white;
    opacity: 0.7;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
}

/* album */
.album, 
.album-flex,
.col-album {
    flex-basis: 50%;
    padding: 5px;
}

.album-title {
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 800;
}
/* RESPONSIVE */
@media (min-width: 576px) {
    
    .app-menu {
        min-width: 230px;
        flex-shrink: 0;
    }

    .logo-small {
        display: none;
    }

    .logo {
        width: 138px;
        margin-bottom: 10px;
        aspect-ratio: 1 / 0.5;
    }


    .display-none {
        display: inline-block;
        white-space: nowrap;
        font-size: 14px;
    }
    
    .app-menu-img {
        display: flex;
        align-items: center;

    }

    .app-menu-flex {
        align-items: flex-start;
        padding: 10px 16px;
    }

 }


@media (min-width: 700px) {

    .menu-icon { 
        display: inline-block;
        margin-right: 10px;
    }

    .toolbar-menu {
        width: 230px;
        justify-content: space-between;
    }

    .toolbar-img {
        width: 45px;
    }

    .menu-title {
        font-size: 16px;
    }

    .menu-opa {
        font-size: 14px;
    }

    .album-flex .col-album {
        flex-basis: calc((100% / 12) * 3);
    }
    
 }


@media (min-width: 992px) {
    
    .player-time {
        gap: 25px;
    }

    .album-flex .col-album {
        flex-basis: calc((100% / 12) * 2);
    }
    
 }


@media (min-width: 1200px) {

 }


@media (min-width: 1400px) {

 }

/* DEBUG */
/* .debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
} */



.debug .col {
    border: 1px solid red;
    background-color: aqua;
    
}


.debug .album-flex {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid white;
}

.debug .card-album {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;

}

.debug .card-title {
    color: white;
    font-size: 15px;
}

.debug .card-subtitle {
    color: white;
    opacity: 0.7;
    font-size: 12px;
}