/* Default settings */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


figure > img {
    display: block;
}

/* *[class^='col-'] {
    padding: 20px;
} */

/* palette colori */

:root {
    --dark:#000000;
    --gray:#282828;
    --dark-blue:#141922;
    --light:#ffff;
}

/* layouts */
.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/* 
.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
} */

/* APP */
.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.app-content {
    flex-grow: 1;
    overflow: auto;
}

.app-toolbar {
    flex-shrink: 0;
    background-color: var(--gray);
}
   

/* RESPONSIVE */
@media (min-width: 576px) { ... }


@media (min-width: 768px) { ... }


@media (min-width: 992px) { ... }


@media (min-width: 1200px) { ... }


@media (min-width: 1400px) { ... }

/* DEBUG */
/* .debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
} */

.debug .app > * {
    min-height: 100px;
    border: 1px solid red;
}