/* Default settings */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


figure > img {
    display: block;
}

/* *[class^='col-'] {
    padding: 20px;
} */

/* palette colori */

:root {
    --dark:#000000;
    --gray:#282828;
    --dark-blue:#141922;
    --light:#ffff;
}

/* layouts */
.container {
    max-width: 1164px;
    margin: 0 auto;
}

.container-medium {
    max-width: 1050px;
    margin: 0 auto;
}

.container-small {
    max-width: 880px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}
/* 
.col-2 {
    flex-basis: calc((100% / 12) * 2);
}

.col-4 {
    flex-basis: calc((100% / 12) * 4);
}

.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

.col-8 {
    flex-basis: calc((100% / 12) * 8);
}

.col-10 {
    flex-basis: calc((100% / 12) * 10);
}

.col-12 {
    flex-basis: calc((100% / 12) * 12);
} */

/* APP */
.app {
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* APP CONTENT */
.app-content {
    flex-grow: 1;
    overflow: auto;
    background-color: var(--dark-blue);
    display: flex;
}

.app-menu-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 10px 0px;
}

.app-menu-img {
    width: 28px;
}

.profile {
    background-color: grey ;
    border-radius: 20px;
    width: 24px;

}



/* .app-menu-top {
    background-color: red;
    padding: 20px;
} */



/* APP TOOLBAR */
.app-toolbar {
    flex-shrink: 0;
    background-color: var(--gray);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* TOOLBAR-MENU */
.toolbar-menu {
    padding: 0px 5px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    width: 160px;
}

.toolbar-img {
    width: 30px;
}

.menu-title {
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.menu-opa {
    opacity: 0.7;
    font-size: 12px;
}

/* TOOLBAR PLAYER */
.toolbar-player {
    width: 50%;
    padding: 10px 10px;
}

.player-items {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.play-item {
   font-size: 25px;
   font-weight: 900;
   margin: 0px 10px;
}

/* PLAYER BAR */
.player-time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    gap: 10px;  
}

.timer {
    color: white;
    font-size: 12px;
}

.time-bar {
    position: relative; 
    flex-grow: 1;
}

.time-bar-white {
    background-color: white;
    height: 4px;
    width: 25%;
    position: absolute;
}

.time-bar-gray {
    background-color: grey;
    height: 4px;
}

/* TOOLBAR SOUND  */
.toolbar-sound {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    width: 160px;
    padding: 0px 5px;
}










/* APP MENU */
.app-menu {
    min-width: 50px;
    background-color: #000000;
}





/* APP BODY */
.app-body {
    padding: 40px;
    border: 2px solid yellow;
    flex-grow: 1;
}




/* RESPONSIVE */
@media (min-width: 576px) {
    
    .app-menu {
        min-width: 230px;
        flex-shrink: 0;
    }



 }


@media (min-width: 768px) {

    .menu-icon { 
        display: inline-block;
        margin-right: 10px;
    }

    .toolbar-menu {
        width: 210px;
    }
 }


@media (min-width: 992px) {
    
    .player-time {
        gap: 25px;
    }
 }


@media (min-width: 1200px) {

 }


@media (min-width: 1400px) {

 }

/* DEBUG */
/* .debug .container,
.debug .container-medium,
.debug .container-small  {
    border: 1px solid var(--yellow);
    padding: 10px;
}

.debug .row {
    border: 1px solid var(--purple);
    padding: 10px;
}

.debug [class^="col"] {
    border: 1px solid orange;
    padding: 10px;
} */

.debug .app > * {
    border: 1px solid red;
}


